

.back{

    /* background-color: rgba(192, 186, 186, 0.678); */
    background: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom ,rgb(55, 59, 67), rgb(255, 248, 248));
    background-position-y: 55px;

}

.espaco{
    padding-top: 27.5%;
}