.back{
    background-image: linear-gradient(blue);
}

.background{
    background-color:  #242435;
}
.faixadebaixo{
    background-color:  #00000065;
}

.espaco{
    padding-top: 27.5%;
}

.txt{
    color: white;
    text-decoration: none;
}

.txt a{
    color: white;
    text-decoration: none;
}

.desc{
    margin-left: 25%;
    margin-right: 25%;

}

@media(max-width:741px){
.logo{
    width:75px; 
    margin-left: 40%;
}
}
@media(min-width:741px){
    .logo{
        width:75px; 
        margin-left: 40%;
    }
    }
    @media(min-width:768px){
        .logo{
            width:75px; 
            margin-left: 46%;
        }
        }

.fundoFooter{
    background-color: #6351ce;
}
