<div class="container animated bounceIn">
  <br>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="shadow-lg back-form">
        <header class="card-header">
          <h4 class="card-title mt-2">Acesse sua conta (exclusivo para autores e administradores)</h4>
        </header>
        <article class="card-body">

          <form>
            <div class="form-group">
              <label>Conta do Google:</label>
              <a class="g-signin2" data-onsuccess="onSignIn"></a>
            </div>

            <div class="form-group">
              <label>Senha:</label>
              <input class="form-control" type="password" [(ngModel)]="user.password" name="password"
                placeholder="Digite sua senha">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" (click)="login()"> Confirmar login </button>
            </div>

            <div class="form-group">
              <a href="/login" class="btn btn-danger btn-block" onclick="signOut();">Sair</a>
              <br>
               <small class="centralizar">Deseja se tornar um autor? Entre em&nbsp;<a routerLink="../contato" routerLinkActive="active">contato&nbsp;</a> com nossos administradores.</small>
            </div>

          </form>

        </article>

      </div>

    </div>

  </div>

</div>