<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="">Notícias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="eventos" routerLinkActive="active">Eventos</a>
      <a class="nav-link" routerLink="painel/events" routerLinkActive="active" *ngIf="changeMenu">Editar Eventos</a>
      <a class="nav-link" routerLink="cadastranoticia" *ngIf="changeMenu" routerLinkActive="active">Cadastrar
        Notícia</a>
      <a class="nav-link" routerLink="cadastraevento" *ngIf="changeMenu" routerLinkActive="active">Cadastrar
        Evento</a>
      <a class="nav-link" routerLink="contato" routerLinkActive="active">Contato</a>
      <a class="nav-link" routerLink="signup" routerLinkActive="active">Cadastro</a>
      <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!changeMenu">Login</a>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>