<div class="container">
  <br>
  <h1 class="centralizar animated pulse">{{event?.title}}</h1>

  <br><br><br>

  <div *ngIf="!event?.id" class="centralizar">
    <div class="jumbotron container shadow-lg">
      <h1 class="display-4 errorTitle">404 - Evento não encontrado</h1>
      <hr class="my-4">
      <br>
      <p class="errorDesc">O caminho procurado não foi encontrado!</p>
      <br>
      <a class="btn btn-primary btn-lg fonte" routerLink="../" routerLinkActive="active" role="button">Voltar</a>
    </div>
  </div>
  <br>
  <p *ngIf="event?.dataevent" class="centralizar animated pulse">
    Acontecerá/aconteceu em: {{event?.dataevent | date:'dd/MM/yyyy'}}, às: {{event?.dataevent | date:'H:mm:ss'}}
  </p>
  <br><br>

</div>
<div class="gallery container wow bounceInLeft" id="gallery">

  <div *ngIf="event?.photo1" class="mb-3 pics animation all 2">
    <img class="img-fluid" id="myImg" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/*;base64,'+event?.photo1)"
      class="d-block w-100" alt="Card image cap">
  </div>

  <div *ngIf="event?.photo2" class="mb-3 pics animation all 1">
    <img class="img-fluid" id="myImg" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/*;base64,'+event?.photo2)"
      alt="Card image cap">
  </div>

  <div *ngIf="event?.photo3" class="mb-3 pics animation all 1">
    <img class="img-fluid" id="myImg"
      [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+event?.photo3)" alt="Card image cap">
  </div>

  <div *ngIf="event?.photo4" class="mb-3 pics animation all 2">
    <img class="img-fluid" id="myImg"
      [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+event?.photo4)" alt="Card image cap">
  </div>

  <div *ngIf="event?.photo5" class="mb-3 pics animation all 2">
    <img class="img-fluid" id="myImg"
      [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+event?.photo5)" alt="Card image cap">
  </div>

</div>