<div class="container animated bounceIn">
  <br>
  <div class="row justify-content-center shadow-lg back-form">
    <div class="col-md-12">

      <header class="card-header">
        <h4 class="card-title mt-2">Cadastre um evento</h4>
      </header>
      <article class="card-body">

        <form enctype="multipart/form-data" #f=ngForm>

          <div class="form-row">
            <div class="col-md-8 form-group">
              <label>Título *</label>
              <input type="text" class="form-control" [(ngModel)]="evento.title" name="title" required #title=ngModel>
              <div *ngIf="!title.valid && title.touched" class="alert alert-danger" role="alert">
                Título é obrigatório!
              </div>
            </div>
            <div class="col-md-4 form-group">
              <label>Data *</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="evento.dataevent" name="dataevent"
                id="dataevent" required #dataevent=ngModel>
              <div *ngIf="!dataevent.valid && dataevent.touched" class="alert alert-danger" role="alert">
                Data é obrigatória!
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="photo1">Foto 1</label>
              <input type="file" class="form-control-file" accept=".jpg" (change)="changeListener($event)">
            </div>
            <div class="col-md-6">
              <label for="photo2">Foto 2</label>
              <input type="file" class="form-control-file" accept=".jpg" (change)="changeListener2($event)">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="photo3">Foto 3</label>
              <input type="file" class="form-control-file" accept=".jpg" (change)="changeListener3($event)">
            </div>
            <div class="col-md-6">
              <label for="photo4">Foto 4</label>
              <input type="file" class="form-control-file" accept=".jpg" (change)="changeListener4($event)">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="photo5">Foto 5</label>
              <input type="file" class="form-control-file" accept=".jpg" (change)="changeListener5($event)">
            </div>
            <div class="col-md-6">
              <br>
              <div class="alert alert-warning" role="alert">
                Recomenda-se fazer upload de pelo menos uma foto! <small>(máximo 5)</small>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <div class="form-row">
            <div class="col-md-12 form-group">
              <label>Senha para o evento *</label>
              <input type="password" class="form-control" [(ngModel)]="evento.eventpassword" name="eventpassword"
                required #eventpassword=ngModel>
              <div *ngIf="!eventpassword.valid && eventpassword.touched" class="alert alert-danger" role="alert">
                Senha é obrigatória!
              </div>
            </div>
          </div>

          <div class="container centralizar">
            <div class="col-md-3 row-group">
              <button type="submit" class="btn btn-primary estiloBotao" (click)="cadastraevento()"
                [disabled]="f.invalid"> Registrar
                evento</button>
            </div>
          </div>
        </form>
      </article>
    </div>
  </div>
</div>

<router-outlet></router-outlet>